.page-content-container {
  color: purple;

  .page-internal-navigation {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    li {

      &:not(:first-child) {
        &:after {
          content: ">";
          padding: 0 20px;
        }
      }
    }
  }
}